{% extends "base.html" %} {% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add Business</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">upload_csv</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <!-- Message -->
    {% if success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i> {{success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %} {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i> {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <section class="section">
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Upload csv file of Business</h5>

                        <!-- General Form Elements -->
                        <form action="{% url 'upload_csv' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" name="formFile" required="True" id="formFile">
                                </div>
                            </div>














                            <div class="row mb-3">

                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit Form</button>
                                </div>
                            </div>

                        </form>
                        <!-- End General Form Elements -->

                    </div>
                </div>

            </div>


        </div>
    </section>

</main>





{% endblock %}